@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima da viewport */
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  font-family: 'Roboto', sans-serif;

  .logo {
    color: rgb(102, 102, 102);
    padding-left: 2%;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding-right: 5%;
  }
  
  #nav-items li a {
    text-decoration: none;
    padding-left: 4rem;
    color: white;
    font-size: .8rem;
  }
  
  #nav-items li a:hover {
    color: #44d62c;
    transition: width 0.3s ease;
  }
  
  #nav-items li a.active {
    color: #949494; /* Cor diferente para o link ativo */
  }
}

.title {
  color: #44d62c;
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;

}

#header {
  flex: 1;
  padding: 6% 0 0 2%;
  font-family: 'Roboto', sans-serif;
  .text1 {
    color: #ffff;
  }
  .text2 {
    padding-top: .5%;
    color: white;
    font-size: 3rem;
    .desenvolvedor {
      color: #44d62c;
    }
  }
  .text3 {
    padding-top: .4%;
    color: rgb(146, 146, 146);
  }

  #dev {
    width: 27%;
    padding: 2% 0 0 8%;
  }
}

footer {
  color: white;
  text-align: start;
  font-weight: 100;
  padding: 1.4px;
}

main {
  flex:1;
}

#sobre{
  padding-top: 5%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .left {
    padding-left: 1.4%;
    #resumo {
      font-family: 'Roboto', sans-serif;
      color: white;
      padding: 0 0 0 2%;
        .text {
          padding: 1.5% 0 2% 1.2%;
          max-width: 600px; /* Defina o valor máximo desejado para a largura */
          line-height: 1.8rem;
        }
    
      #skill-items {
        font-size: 1.4rem;
        padding: 1.5% 0 0 1.2%;
        list-style-type: none;
      }
    }
  }
  .right {
    padding-right: 14%;
    #dev-sobre {
      width: 120%;
    }
  }
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 4% 0 0 2%;
  font-size: 1.7rem;
  font-family: 'Roboto Mono', monospace;


  .contatos {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contatos a {
    color: #ffff;
    padding-top: 5%;
    text-decoration: none;
  }

  .contatos a:hover {
    color: #44d62c;
    transition: width 0.3s ease;
  }
}

.projects {
  font-family: 'Roboto Mono', monospace;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  #project {
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #project p {
    text-align: center;
    padding-bottom: 2%;
    color: rgb(84, 0, 168);
  }
  #project img {
    width: 50rem;
  }
  #project span {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
  }

  #project span a {
    font-family: 'Roboto', sans-serif;
    color: #afafaf;
  }

  #project span a:hover {
    color: #44d62c;
  }
}

.formacao{
  padding: 5% 0 0 2%;
  display: flex;
  flex-direction: column;
  color: #ffff;
  text-align: start;
}
#formacoes {
  font-family: 'Roboto', sans-serif;
  padding: 3% 0 0 1%;
}
#formacoes p {
  font-size: 2rem;
}
#formacoes span {
  font-size: 1rem;
  color: #949494;
}


 